main {
  min-height: 500px;
}


.cardShopMaster{
  cursor: pointer;
}

.cardShopMaster .btn{
  display: none;
}

.card{
  height: 100%;
}

.close{
  visibility: hidden;
}

.btn[disabled] {
  cursor: not-allowed;
}